*{
	padding: 0;
	margin: 0;
	transition: all .2s;
	font-family: PingFang TC, 微軟正黑體, sans-serif !important;
}

/* width */
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-thumb {
    border-radius: 30px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #F3D7D2;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: #F19483;
}

a:hover{
	text-decoration: none!important;
}

button:focus, input:focus{
	outline:0;
}

h2, h3{
	font-weight: 600;
}

.back_btn{
	position: fixed;
	right: 10px;
	bottom: 10px;
	transition: all .3s;
	opacity: 0;
	z-index: 10;
	background: transparent;
	border: none;
	border-radius: 50%;
	box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3);
}
.back_btn img{
	width: 65px;
	transition: all .3s;
}

.show{
	opacity: 1;
}

.hide_nav{
	transform: translateY(-100px);
}

.container{
	width: 100%;
	overflow-x: hidden;
	}
/*nav-bar*/
.nav-bar{
	background: #fff;
	position: fixed;
	color: rgba(0,0,0,.6);
	list-style:none;
	box-shadow:0 0 8px 0 rgba(0,0,0,.15);
	margin-bottom: 5px;
	z-index: 1000;
}

.nav-bar a{
	color: rgba(0,0,0,.6);
	text-decoration: none;
}


/*上方選單*/

.menu{
	display: flex;
	line-height: 50px;
	font-size: 20px;
}

.menu .logo{
	padding-right: 40px;
}

.menu ul li,
.menu ul{
        display: flex;
        justify-content: center;
	margin-bottom: 0;
}


.ulText li{
	padding: 2px 20px;
	font-family: "Nico Moji";
	position: relative;
}

.liText:hover, .liText li:hover{
	color: #EB7A77;
	cursor: pointer;
}

ul.ulText li.liText:first-child{
	color: #EB7A77;
}

.blog{
	color: #EB7A77;
}

/*滑鼠移到menu上的字樣時子選單要出現*/
.liText:hover ul.ulTextMenu, .ulTextMenu:hover{
	display:block;
}

.dropMenu ul, .ulText1menu ul, .ulText2menu ul, .ulText3menu ul{
	list-style: none;
	padding-left: 10px;
}

.menu ul .ulTextMenu{
	width: 170px;
	top: 52px;
	height: auto;
	background: rgba(255, 255, 255, 0.95);
	color: rgba(0, 0, 0, 0.6);
	position: absolute;
	display: none;
	z-index: 10px;
	transition: top 0.3s;
	font-size: 14px;
	line-height: 24px;
	text-align: center;
}

.menu ul .ulTextMenu li{
	padding: 5px;
	display: block;
}

.menu ul .ulTextMenu-collapsed{
	display: block;
    list-style: none;
}

#search{
    width: 100%;
    position: relative;
    padding: 10px;
    float:right;
}

#search input{
	width: calc(100% - 20px) ;
	height: 30px;
	border-radius: 5px;
	border: 1px solid #EB7A77;
	background: #fff;
}

.button-search{
	position: absolute;
	top: 14px;
	right: 40px;
	border: none;
	background: transparent;
	color: #EB7A77;
}

/*漢堡下拉選單按鍵*/
.drop{
	position: absolute;
	top: 16px;
	border: none;
	background: transparent;
	color: #EB7A77;
}

.dropMenu{
	font-size: 20px;
	line-height: 2;
	text-align: center;
	letter-spacing: 3px;
	width: 100vw;
	height: auto;
	background: rgba(255, 255, 255, 0.9);
	color: rgba(0, 0, 0, 0.6);
	position: absolute;
	display: none;
	z-index: 10;
	transition: top 0.3s;

}

.dropMenu-collapsed{
	top: 50px;
	display: block;
       list-style: none;
       transition: top 0.3s;
}

/*Banner1*/

.headlineImg{
	position: static;
	height: 650px;	
	background:  url(../img/prada14.jpg) no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center;
}

.bannerText{
	width: 600px;
    position: absolute;
    top: 300px;
    left: 50%;
    transform: translateX(-50%);
    border: transparent;
}

.hTitle{
	position: absolute;
	top: 395px;
	color: #fff;
	text-shadow: 0px 0px 10px #888;
	font-size: 28px;
	transform: translateX(-50%);
    left: 50%;
    white-space: nowrap;

	}
.headline{
	position: absolute;
	background: #F17C67;
	top: 240px;
	color: #fff;
	letter-spacing: 3px;
    left: 50%;
    transform: translateX(-50%)
}

.headline h3{
	margin: 10px;
	text-align: center;
	font-size: 28px;
}



/*部落格文章*/
.articles{
	margin-top: 10px;
	background: #fff;
	text-align: center;
	margin-bottom: 25px;
}

.articles img{
	margin: 30px 0;
}

.card{
	height: 300px;
	margin-top: 10px;
	margin-bottom: 10px;
	position: relative;
	display: inline-block;
	overflow: hidden;
	border-radius: 4px;
}

.cardText h4{
	font-weight: 550;
	color: #fff;
	position: absolute;
        left: 10px;
        right: 10px;
        top: 120px;
	font-size: 30px;
	letter-spacing: 3px;
	text-shadow: 0px 0px 10px #888;
}

.cardText p{
	color: #fff;
	position: absolute;
    left: 10px;
    right: 10px;
    top: 180px;
	font-size: 20px;
	letter-spacing: 3px;
	text-shadow: 0px 0px 8px #000;
}

.img1{
		height: 100%;
		width: 100%;
		background: url(../img/prada2.jpg);
		background-position: center;
		-webkit-background-size: 100%;
		background-size: 100%;
		border-radius: 5px;
		box-shadow: 0 0 8px 0 rgba(0,0,0,.3);
		background-repeat: no-repeat;
		transition: all .3s ease-in-out;		
}

.img1:hover, .img2:hover, .img3:hover{
	-webkit-background-size: 115%;
	background-size: 115%;
}

.img2{
		height: 100%;
		width: 100%;
		background: url(../img/華山.JPG);
		background-position: center;
		-webkit-background-size: 100%;
		background-size: 100%;
		box-shadow: 0 0 8px 0px rgba(0,0,0,.3);
		border-radius: 5px;
		transition: all .3s ease-in-out;
		background-repeat: no-repeat;
}

.img3{
		height: 100%;
		width: 100%;
		background: url(../img/台北機廠4.jpg);
		background-position: center;
		-webkit-background-size: 100%;
		background-size: 100%;
		border-radius: 5px;
		box-shadow: 0 0 8px 0 rgba(0,0,0,.3);
		transition: all .3s ease-in-out;
		background-repeat: no-repeat;
}

/*更多文章*/
.newsfeed{
	text-align: center;
	padding: 10px 0;
	color: rgba(0, 0, 0, 0.6);
}

.headline-wrap{
	padding: 30px 10px 30px 30px;
	border-radius: 20%;
}

.headline-wrap img{	
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 8px;
}

.headline-sum{
	padding-top: 30px;
	padding-right: 30px;
	vertical-align: middle;
}
.headline-sum h2{
	padding-bottom: 15px;
}

.headline-sum p{
	padding-top: 10px;
    font-size: 18px;
    line-height: 1.8;
}

.tags{
	margin-top: 50px;
}

.tags ul{
	display: flex;
	list-style: none;
	justify-content: center;
}

.tags li{
    margin: 10px;
    background: #eb7a77;
    font-size: 16px;
    padding: 8px;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
}
.feed{
	display: flex;
	justify-content: center;
}
.feed1{
	width: 30vw;
	background: #F4f4f4;
	border-radius: 10px;
	margin: 0px 17px;
}

figure{
	height: 300px;
	border-radius: 5px;
	overflow: hidden;
}
.feed1 img{
	margin-top: 16px;
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 5px;
}


.line{
	width: 42px;
	height: 1px;
	border: 2px solid #aaa;
	margin: 10px auto;
	transition: all .3s;
}

.feed1:hover .line,  .headline-sum:hover .line{
	width: 80%;
	border: 2px solid #EB7A77;
}
.feed1 h3{
	transition: all .3s;
}
.feed1 h3:hover{
	color: #EB7A77;
}

figcaption p{
	font-size: 16px;
	line-height: 1.5;
	margin: 0px 20px;
	padding-bottom: 20px;
}



/*footer*/

.footer{
	margin-top: 10px;
	background: rgba(251, 150, 110, 0.08);
	text-align: center;
}

.footLogo{
	position: relative;
    top: 45px;
    left: -10px;
}

.sitemap{
	text-align: left;
}

.sitemap ul{
	display: inline-block;
	list-style: none;
	padding: 15px 60px 5px 0;
	line-height: 1.8;
	vertical-align: top;
}

.sitemap li:first-child{
	color: rgba(0, 0, 0, 0.6);
	font-weight: bold;
	font-size: 16px;
}

.sitemap li, .sitemap a{
	color: rgba(0, 0, 0, 0.5);
	font-size: 14px;
	text-decoration: none;

}

.sitemap a:hover{
	color: #EB7A77;
}

/*平版*/
@media (max-width: 767px) {
	.ulText{
		display: none;
	}

	.drop{
	   right: 50%;
	}

	.headlineImg{
	/*absolute和fixed都是不佔空間的*/
	height: 300px;
	}

	.bannerText{
		position: absolute;
		width: 400px;
		top: 300px;
    		left: 50%;
    		transform: translateX(-50%);
	}
	.hTitle{
		position: absolute;
		top: 168px;
		right: -26px;
		border: transparent;
		font-size: 20px;
		text-align: center;
		white-space: nowrap;
	}

	.headline{
		position: absolute;
		background: #F17C67;
		top: 90px;
		color: #fff;
		letter-spacing: 3px;
	    	right: 15%;
	    	white-space: nowrap;
	   	width: 247px;
	}

	.headline h3{
	margin: 5px;
	text-align: center;
	font-size: 18px;
	}
	
	.box1{
	margin: 0px auto;
	}
	
	.footer{
	margin-top: 5px;
	}

	.footLogo{
	display: none;
	}
}

/*平版*/
@media (min-width: 768px) {
	#search{
		width: 50%;
	}

	.drop{
	   right: 50%;
	}
}

/*筆電*/
@media (min-width: 992px) and (max-width: 1440px){
	.img1, .img2{
		height: 100%;
		width: 100%;
		background-position: center;
		-webkit-background-size: 110%;
		background-repeat: no-repeat;
		background-size: 110%;
		border-radius: 5px;
		box-shadow: 0 0 8px 0 rgba(0,0,0,.3);
		transition: all .5s ease-in;
	}

	.img3{
		height: 100%;
		width: 100%;
		background-position: center;
		-webkit-background-size: 125%;
		background-repeat: no-repeat;
		background-size: 125%;
		border-radius: 5px;
		box-shadow: 0 0 8px 0 rgba(0,0,0,.3);
		transition: all .5s ease-in;
	}
	.img1:hover, .img2:hover{
		-webkit-background-size: 130%;
		background-size: 130%;
	}
	.img3:hover{
		-webkit-background-size: 145%;
		background-size: 145%;
	}
	.headline-wrap {
    		padding: 30px 10px 30px 15px;
	}
}
@media (min-width: 992px) and (max-width: 1200px){
	.menu .logo{
		padding-right: 25px;
	}
	.img1, .img2{
		height: 100%;
		width: 100%;
		background-position: center;
		-webkit-background-size: 135%;
		background-repeat: no-repeat;
		background-size: 135%;
		border-radius: 5px;
		transition: all .5s ease-in;
	}

	.img3{
		height: 100%;
		width: 100%;
		background-position: center;
		-webkit-background-size: 145%;
		background-repeat: no-repeat;
		background-size: 145%;
		border-radius: 5px;
		transition: all .5s ease-in;
	}
	.img1:hover, .img2:hover{
		-webkit-background-size: 150%;
		background-size: 150%;
	}
	.img3:hover{
		-webkit-background-size: 160%;
		background-size: 160%;
	}
	.feed1{
		height: 490px;
	}
	.tags {
    		margin-top: 15px;
	}
}
/*平板*/
@media (min-width: 767px) and (max-width: 992px){
	.img1, .img2{
		height: 100%;
		width: 100%;
		background-position: center;
		-webkit-background-size: 120%;
		background-repeat: no-repeat;
		background-size: 120%;
		border-radius: 5px;
		box-shadow: 0 0 8px 0 rgba(0,0,0,.3);
		transition: all .5s ease-in;
	}

	.img3{
		height: 100%;
		width: 100%;
		background-position: center;
		-webkit-background-size: 125%;
		background-repeat: no-repeat;
		background-size: 125%;
		border-radius: 5px;
		box-shadow: 0 0 8px 0 rgba(0,0,0,.3);
		transition: all .5s ease-in;
	}
	.img1:hover, .img2:hover{
		-webkit-background-size: 130%;
		background-size: 130%;
	}
	.img3:hover{
		-webkit-background-size: 145%;
		background-size: 145%;
	}
	.headline-sum{
		padding-top: 0;
	}
	.headline-wrap{
		padding: 20px 0px;
	}

	.tags{
		margin: 10px 0px;
	}
	
	.feed1{
		height: 410px;
		margin: 0 10px;
	}

	figure{
	height: 200px;
	overflow: hidden;
    	}
	
	.headline-wrap .top-img{
    	height: 35vh;
    	}
}

/*手機*/
@media (max-width: 480px) {
	.menu .logo {
    		padding-right: 0px;
	}
	/*nav-bar icon*/
	.temple {
		height: 20px;
	}
	
	.logoText{
		width: 100px;
		height: 16px;
	}

	.bannerText{
		position: absolute;
		width: 300px;
		top: 125px;
		left: 50%;
		transform: translateX(-50%);
	}
	
	.hTitle{
		color: #fff;
		text-shadow: 0px 0px 10px #888;
		font-size: 18px;
		text-align: center;
		padding-top: 10px;
		left: 13%;
		transform: translateX(-50%);

	}
	.img1, .img2, .img3{
		height: 100%;
		width: 100%;
		background-position: center;
		-webkit-background-size: 130%;
		background-repeat: no-repeat;
		background-size: 130%;
		border-radius: 5px;
		box-shadow: 0 0 8px 0 rgba(0,0,0,.3);
		transition: all .5s ease-in;
	}
	.img1:hover, .img2:hover, .img3:hover{
		-webkit-background-size: 150%;
		background-size: 150%;
	}
	.tags{
		margin-top: 20px;
	}
	.tags li{
		margin: 5px;
	}
	.headline-wrap{
		height: 250px;
		padding: 20px 0 0 0;
		border-radius: 4px;
	}

	.headline-sum{
		padding: 0 15px;
	}
	.headline-sum h2{
		padding-top: 0;
	}
	.feed1 {
	    width: 90vw;
	    background: #F4f4f4;
	    border-radius: 10px;
	    margin: 10px 10px;
	 }
	 figure{
	    height: 180px;
	 }
	.top-img{
    	   padding-bottom: 15px;
    	}
	
}
@media (max-width: 320px) {
	.logoText{
		width: 80px;
		height: 12px;
	}
}
@media (min-width: 1440px){
	.headline-wrap .top-img{
		height: 40vh !important;
	}
}



